<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.rzhr.dao.PermissionMenuMapper">

<select id="getAllMenuByPid" parameterType="java.util.Set" resultType="Permission_Menu">
     SELECT * from permission_menu WHERE  pid IN
    <foreach item="pid"  collection="pid" open="(" separator="," close=")">
        #{pid,jdbcType=INTEGER}
    </foreach>
</select>

    <select id="getAllPermission" resultType="Permission_Menu">
        SELECT  * FROM  permission_menu
    </select>
    <select id="getAllMenuByMenu" parameterType="Menu" resultType="Permission_Menu">
         SELECT  * FROM  permission_menu where mid =#{mid}
    </select>
    <insert id="savePermissionMenuX" parameterType="permission_menu">
            INSERT into permission_menu (mid,pid) VALUES
            <foreach collection="list" item="permission_menu" separator=",">
                (#{permission_menu.mid},#{permission_menu.pid})
            </foreach>

    </insert>

</mapper>